.lemin-container
{
    width: 1024px;
    height: 768px;
    padding: 50px 0;
    margin: 0 auto;
    margin-top: 50px;
  /*  background-color: rgba(30, 224, 9, 0.16);*/
    position: relative;
}
.buttons-container
{
    z-index: 30;
    position: absolute;
    top: -45px;
    left: 20px;
    min-width: 300px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button
{
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 15px;
    background-color: darkviolet;
    border-radius: 20px;
    font-family: Broadway, sans-serif;
    color: whitesmoke;
    border: none;

}

.room
{


 /*   width: 50px;
    height: 50px;*/
    position: absolute;
    text-align: center;
    color: white;
}
.start-room, .end-room
{
 /*   width: 100px;
    height: 100px;*/
    background-color: red;
}

